/*styles for my resume*/
/*This is for the default.*/
body, h1, h2, h3, h4, h5, p, ul, li {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;}

/*This is for my name*/
#name{font-size:3em; color:#33485e; text-transform: uppercase; text-align: center;
        border-bottom: 1px #33485e; width: 60%; min-width: 300; margin: 0 auto;}

/*Photo commented out*/

/*This is for the sections titles*/
#sectionheader{font-size:1.5em; color: white; background-color: #33485e; text-transform: uppercase; font-weight: 400; margin: 20px 0 10px 0; width:70%; min-width:300;}

/*This is for the job titles*/
#jobtitle{font-size:1.25em; font-weight:600; }

/*This is for the job organization*/
#organization{font-size: 1.25em; font-weight: 400}

/*This is for the job dates*/
#date{font-size:1em; font-weight: 400; font-style:italic;margin:2px 0 0 0;}

/*The rest of these are just for the text that are a part of the resume*/
.description{font-size: 1em; margin: 10px 0;}

ul{font-size: 1em; font-weight: 400;}

li{font-size: 1em; font-weight: 400;}